span {
  margin-top: 30px;
}

.wrapper-main {
  display: flex;
  height: 80%;
  justify-content: space-around;
  flex-direction: column;
  padding: 18px;
}

.logo {
  zoom: 1.5;
  font-weight: bold;
  color: #4b81e7;
}
