<div class="padding">
  <section class="personal-info-section">
    <h2 class="section-title">내 정보</h2>

    <ul>
      <li class="personal-info detail"><i class="info-icon"></i>장애인</li>
      <li class="personal-info">이름</li>
      <li class="personal-info">메일</li>
    </ul>
  </section>

  <section class="host-reservation">
    <h2 class="section-title">주최한 예약</h2>
    <ul>
      <!-- *ngFor -->
      <li class="reservation-card-list">
        <div class="reservation-card-area">SEOUL</div>
        <div class="reservation-card-info"></div>
      </li>
    </ul>
  </section>

  <section class="join-reservation">
    <h2 class="section-title">참가한 예약</h2>
    <ul>
      <!-- *ngFor -->
      <li class="reservation-card-list">
        <div class="reservation-card-area">SEOUL</div>
        <div class="reservation-card-info"></div>
      </li>
      <li class="reservation-card-list">
        <div class="reservation-card-area">SEOUL</div>
        <div class="reservation-card-info"></div>
      </li>
    </ul>
  </section>
</div>
