<div class="padding" *ngIf="data">
  <section class="section-container">
    <section class="area-section">
      <h2 class="area-title">{{ data.destination }}</h2>
    </section>

    <section class="date-section">
      <h2 class="date-title">date</h2>
      <p>
        {{ data.startDate | date: "yyyy-MM-dd" }} ~
        {{ data.endDate | date: "yyyy-MM-dd" }}
      </p>
      <p class="deadline">{{ remain_time }} days until deadline</p>
    </section>

    <section class="info-section">
      <p>Total participants: 3/{{ data.limitPersonCount }}</p>
      <p class="info-details">
        {{ data.description }}
      </p>
    </section>
  </section>

  <div class="join-btn-container">
    <button
      class="join-btn"
      type="submit"
      (click)="participations(data.reservationId)"
    >
      Join
    </button>
  </div>
</div>
