<div class="padding">
  <section class="section-container">
    <section class="area-section">
      <h2 class="area-title">seoul</h2>
    </section>

    <section class="date-section">
      <h2 class="date-title">일시</h2>
      <p>2021년 2021년 05월 22일 13:00</p>
      <p class="deadline">마감까지 ()일 ()시 ()분 남음</p>
    </section>

    <section class="info-section">
      <p>참여한 인원 수: 00명</p>
      <p class="info-details">설명</p>
    </section>
  </section>

  <div class="join-btn-container">
    <button class="join-btn" type="submit">참가</button>
  </div>
</div>
