<div class="padding">
  <form action="#">
    <h2 class="form-title">reservation</h2>

    <input
      class="form-input"
      type="text"
      placeholder="출발지"
      name="start"
      [(ngModel)]="data.start"
      required
    />
    <input
      class="form-input"
      type="text"
      placeholder="목적지"
      name="destination"
      [(ngModel)]="data.destination"
      required
    />
    <input
      class="form-input"
      type="date"
      placeholder="날짜"
      name="startDate"
      [(ngModel)]="data.startDate"
      required
    />
    <input
      class="form-input"
      type="date"
      placeholder="언제까지 머무르시나요?"
      name="endDate"
      [(ngModel)]="data.endDate"
      required
    />
    <textarea
      name="reservation_info"
      id="reservationInfo"
      class="reservation-info"
      cols="30"
      rows="10"
      maxlength="1000"
      placeholder="내용"
      [(ngModel)]="data.description"
    >
    {{ data.description }}
    </textarea>

    <div class="checkbox-container">
      <input type="checkbox" style="width: 20px" />
      &nbsp;
      <span>Need a wheelchair</span>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" style="width: 20px" />
      &nbsp;
      <span>Need an infant seat</span>
    </div>

    <button class="reservation-btn" type="submit" (click)="make_reservation()">
      Make a reservation
    </button>
  </form>
</div>
