<div class="wrap">
  <div class="wrapper-main">
    <div>
      <h1>sign up</h1>
      <br />
      <br />

      <div
        class="card"
        (click)="click_item(item.text)"
        [ngClass]="{ select: item.text == select }"
        *ngFor="let item of status_list"
      >
        <div class="item">
          <img [src]="item.icon" class="img" />
        </div>
        <div class="text">
          {{ item.text }}
        </div>
      </div>
    </div>

    <br />
    <button (click)="go_login()">가입하기</button>
  </div>
</div>
