<section class="reservation-section">
  <h2 class="sub-title">Reservation</h2>

  <!-- <form action="#"> -->
  <input
    type="text"
    placeholder="Where are you going?"
    name="destination"
    [(ngModel)]="reservation.destination"
  />
  <input
    type="date"
    placeholder="date"
    name="startDate"
    [(ngModel)]="reservation.startDate"
  />

  <button
    class="reservation-button"
    type="submit"
    (click)="go_make_reservation()"
  >
    Make a reservation
  </button>
  <!-- </form> -->
</section>

<br />
<br />

<section class="reservation-service-section">
  <div class="sub-title-container">
    <h2 class="sub-title">Registered reservation service</h2>
    <div class="sub-arrow" (click)="go_reservation()">
      <img style="width: 25px" src="assets/right-arrow.svg" />
    </div>
    <!-- <a class="sub-title-link" href="#"><span class="blind">더 보기</span></a> -->
  </div>
  <div class="container">
    <div
      (click)="clickItem(item.reservationId)"
      *ngFor="let item of reservation_list"
      class="item"
    >
      <div class="item-top">
        <span class="top-text">{{ item.destination }}</span>
      </div>
      <div class="item-bottom">
        <p>{{ item.description }}</p>
        <br />
        <p>
          {{ item.startDate | date: "yyyy-MM-dd" }} ~
          {{ item.endDate | date: "yyyy-MM-dd" }}
        </p>
      </div>
    </div>
  </div>
</section>

<br />
<br />
<br />
<section class="ordered-service-section">
  <div class="sub-title-container">
    <h2 class="sub-title">Custom service for you</h2>
    <div class="sub-arrow" (click)="go_reservation()">
      <img style="width: 25px" src="assets/right-arrow.svg" />
    </div>
    <!-- <a class="sub-title-link" href="#"><span class="blind">더 보기</span></a> -->
  </div>

  <div class="container">
    <div *ngFor="let item of reservation_list" class="item">
      <div class="item-top">
        <span class="top-text">{{ item.destination }}</span>
      </div>
      <div class="item-bottom">
        <p>{{ item.description }}</p>
        <br />
        <p>
          {{ item.startDate | date: "yyyy-MM-dd" }} ~
          {{ item.endDate | date: "yyyy-MM-dd" }}
        </p>
      </div>
    </div>
  </div>
</section>
